*{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:0;
    padding:0;
    color:black;
}

html{
    background-color:black;
    text-align: left;
}

.flex-container{
    display:flex;
    flex-wrap:wrap;
}
.animado{
    flex:1;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
}

.anima {
    max-width: 99%;
    max-height: 99%;
  }
  
.titulo{
    flex:1;
    padding:40px;
    background-color:orange;
    float:left;
}

.titulo h1{
    padding-bottom:20px;
    font-size:40px;
}

.habilidades{
    list-style: none;
    font-size:25px;
}

.soy{
    flex:1;
    padding:40px;
    background-color:grey; 
    float:left;
}

.soy h2{
    padding-bottom:10px;
}

.soy p{
    font-size:15px;
}

.separa{
    height:80px;
    color:black;
}

.galeria-madre{
    box-sizing:border-box;
    margin:0;
    padding:0;

}
.galeria{
    flex:3;
    display:flex;
    flex-wrap:wrap;
}

.image {
    width:100%;
}

.column{flex:1;}
.row{flex:2;}

@media (max-width: 800px){
    .titulo h1{
font-size:20;}
.habilidades{
    font-size:10;
}
}

@media (max-width: 600px){
    .column{flex:100%}
 .row{flex:100%}
}